# Home Credit Risk Default: Examining Data
## <font face="times" color = "#990000"> Introduction: </font>
A financing institute have received several loan request applications. They want to find qualified applicants to receive the loan. Unfortunately, there is no credit history available for the applicants. However, they have historical data available from previous applicants. This program aims to predict which applicant will repay the loan and which one will not.

The data is downloaded from a kaggle competition. You can find more information at https://www.kaggle.com/c/home-credit-default-risk

## <font face="times" color = "#990000"> Reading the data: </font>
First of all, we need to look at the data. In this project, I have downloaded the training and test sets <a href="https://en.wikipedia.org/wiki/Training,_test,_and_validation_sets">(What are training/test sets?!)</a> from the API provided by <a href="https://www.kaggle.com/c/home-credit-default-risk/data">
Kaggle </a>. We assume you have saved the data ('application_train.csv' and 'application_test.csv' files) in a folder name "Data". The "Data" folder is located in the same folder as your python file is (in this example, homecredit folder). 

Since the extention of the data is .csv, you need to read it using <font face="courier new" color = "#990000">pd.read_csv</font> as shown bellow. Here, <font face="courier new" color = "#990000">'pd'</font> is a name we use to call pandas library, and <font face="courier new" color = "#990000">'read_cv'</font> is an attribute of pandas library. Before we use any of the pandas attributes, we have to import the library using <font face="courier new" color = "#990000">'import'</font>. The training data is read and saved in a dataframe which we name <font face="courier new" color = "#009933">'df_train'</font>. Similarly, the training set is read and saved in a dataframe which we name <font face="courier new" color = "#009933">'df_test'</font>.

You can also call the file by using its complete path address, e.g., <font face="courier new" color = "#990000">'C:/Users/marjan/homecredit/Data/application_train.csv'</font>. 

Now, you san run the bellow cell by selecting it and pressing "Shift"+"Enter". You will notice that the number beside cell will be changed into * which indicates the cell is running. It may take a few seconds or more for the data to be read depending on the size of the data. When the star sign changes into a number, the file is read. You will not see any output here unless an error exists.

In [1]:
import pandas as pd
df_train = pd.read_csv('Data/application_train.csv')
#df_test = pd.read_csv('Data/application_test.csv')

## <font face="times" color = "#990000"> Examining the data: </font>
It is good to know how big as your dataset and how many rows and columns it has. <font face="courier new" color = "#990000">'shape'</font> is the attribute that shows the number of rows and columns of your dataframe. 
You can find the number of rows of a dataframe by adding <font face="courier new" color = "#990000">'.shape[0]'</font> to the dataframe's name.
Similarly, the number of columns can be found by adding <font face="courier new" color = "#990000">'.shape[1]'</font> to the dataframe's name.
Inorder to see the results, you need to print them using the <font face="courier new" color = "#990000">'print'</font> instruction. In python 3, you have to used parantheses, and type whatever you want to print inside a pair of paranthesis. Use quotation marks (single or double) to print an exact srting, and use the name of variables without quotation marks to print the value of the vaiables. Seperate them using commas. 
Rune the bellow cell to see the output of the print line.

In [2]:
number_of_rows_train = df_train.shape[0]
number_of_columns_train = df_train.shape[1]
print('The training data has', number_of_rows_train, 'rows, and', number_of_columns_train, 'columns.' )

The training data has 307511 rows, and 122 columns.

## <font face="times" color = "#990000"> Displaying a few rows of the data: </font>
As you can see, the training set has 307511 rows which is a lot! It is a good idea to look at the few first row of the dataset to have an idea of how it looks like. the <font face="courier new" color = "#990000">'head()'</font> attribute, select only the first five rows of the data. You can determine the number of first rows you want to select by adding a number inside paranthesis.

In [3]:
print(df_train.head())

   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0      100002       1         Cash loans           M            N
1      100003       0         Cash loans           F            N
2      100004       0    Revolving loans           M            Y
3      100006       0         Cash loans           F            N
4      100007       0         Cash loans           M            N

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0               Y             0          202500.0    406597.5      24700.5
1               N             0          270000.0   1293502.5      35698.5
2               Y             0           67500.0    135000.0       6750.0
3               Y             0          135000.0    312682.5      29686.5
4               Y             0          121500.0    513000.0      21865.5

              ...              FLAG_DOCUMENT_18 FLAG_DOCUMENT_19  \
0             ...                             0                0
1             ...                             0                0
2             ...                             0                0
3             ...                             0                0
4             ...                             0                0

  FLAG_DOCUMENT_20 FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
0                0                0                        0.0
1                0                0                        0.0
2                0                0                        0.0
3                0                0                        NaN
4                0                0                        0.0

  AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
0                       0.0                         0.0
1                       0.0                         0.0
2                       0.0                         0.0
3                       NaN                         NaN
4                       0.0                         0.0

   AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
0                        0.0                        0.0
1                        0.0                        0.0
2                        0.0                        0.0
3                        NaN                        NaN
4                        0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_YEAR
0                         1.0
1                         0.0
2                         0.0
3                         NaN
4                         0.0

[5 rows x 122 columns]

It might be interesting to know that the last rows of a data fram can be selected by the <font face="courier new" color = "#990000">'.tail()'</font> attribute. The line bellow select the last three rows of the training set data frame.

In [4]:
print(df_train.tail(3))

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
307508               Y             0          153000.0    677664.0
307509               Y             0          171000.0    370107.0
307510               N             0          157500.0    675000.0

        AMT_ANNUITY             ...              FLAG_DOCUMENT_18  \
307508      29979.0             ...                             0
307509      20205.0             ...                             0
307510      49117.5             ...                             0

       FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
307508                0                0                0
307509                0                0                0
307510                0                0                0

       AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
307508                        1.0                       0.0
307509                        0.0                       0.0
307510                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
307508                         0.0                        1.0
307509                         0.0                        0.0
307510                         0.0                        2.0

        AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
307508                        0.0                         1.0
307509                        0.0                         0.0
307510                        0.0                         1.0

[3 rows x 122 columns]

## <font face="times" color = "#990000"> Statistical Description of the data: </font>
Finally, to have a statistic description of your data set, you can use <font face="courier new" color = "#990000">'.describe()'</font> attribute.

In [5]:
print('A statistical description of the training data: \n', df_train.describe())

A statistical description of the training data:
           SK_ID_CURR         TARGET   CNT_CHILDREN  AMT_INCOME_TOTAL  \
count  307511.000000  307511.000000  307511.000000      3.075110e+05
mean   278180.518577       0.080729       0.417052      1.687979e+05
std    102790.175348       0.272419       0.722121      2.371231e+05
min    100002.000000       0.000000       0.000000      2.565000e+04
25%    189145.500000       0.000000       0.000000      1.125000e+05
50%    278202.000000       0.000000       0.000000      1.471500e+05
75%    367142.500000       0.000000       1.000000      2.025000e+05
max    456255.000000       1.000000      19.000000      1.170000e+08

         AMT_CREDIT    AMT_ANNUITY  AMT_GOODS_PRICE  \
count  3.075110e+05  307499.000000     3.072330e+05
mean   5.990260e+05   27108.573909     5.383962e+05
std    4.024908e+05   14493.737315     3.694465e+05
min    4.500000e+04    1615.500000     4.050000e+04
25%    2.700000e+05   16524.000000     2.385000e+05
50%    5.135310e+05   24903.000000     4.500000e+05
75%    8.086500e+05   34596.000000     6.795000e+05
max    4.050000e+06  258025.500000     4.050000e+06

       REGION_POPULATION_RELATIVE     DAYS_BIRTH  DAYS_EMPLOYED  \
count               307511.000000  307511.000000  307511.000000
mean                     0.020868  -16036.995067   63815.045904
std                      0.013831    4363.988632  141275.766519
min                      0.000290  -25229.000000  -17912.000000
25%                      0.010006  -19682.000000   -2760.000000
50%                      0.018850  -15750.000000   -1213.000000
75%                      0.028663  -12413.000000    -289.000000
max                      0.072508   -7489.000000  365243.000000

                  ...              FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  \
count             ...                 307511.000000     307511.000000
mean              ...                      0.008130          0.000595
std               ...                      0.089798          0.024387
min               ...                      0.000000          0.000000
25%               ...                      0.000000          0.000000
50%               ...                      0.000000          0.000000
75%               ...                      0.000000          0.000000
max               ...                      1.000000          1.000000

       FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  AMT_REQ_CREDIT_BUREAU_HOUR  \
count     307511.000000     307511.000000               265992.000000
mean           0.000507          0.000335                    0.006402
std            0.022518          0.018299                    0.083849
min            0.000000          0.000000                    0.000000
25%            0.000000          0.000000                    0.000000
50%            0.000000          0.000000                    0.000000
75%            0.000000          0.000000                    0.000000
max            1.000000          1.000000                    4.000000

       AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
count              265992.000000               265992.000000
mean                    0.007000                    0.034362
std                     0.110757                    0.204685
min                     0.000000                    0.000000
25%                     0.000000                    0.000000
50%                     0.000000                    0.000000
75%                     0.000000                    0.000000
max                     9.000000                    8.000000

       AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
count              265992.000000              265992.000000
mean                    0.267395                   0.265474
std                     0.916002                   0.794056
min                     0.000000                   0.000000
25%                     0.000000                   0.000000
50%                     0.000000                   0.000000
75%                     0.000000                   0.000000
max                    27.000000                 261.000000

       AMT_REQ_CREDIT_BUREAU_YEAR
count               265992.000000
mean                     1.899974
std                      1.869295
min                      0.000000
25%                      0.000000
50%                      1.000000
75%                      3.000000
max                     25.000000

[8 rows x 106 columns]

As a result, a dataframe with 8 rows and 106 columns appear. You might have noticed that the number of columns are 106 here, while in the dataset, we had 122 columns. It is because we have only 106 numerical data columns, which are considered in the describe method. We have 122-106=16 columns with non-numeric type in the training datase which are ignored here.  

### <font face="courier new" color = "#6600cc">count:</font> 
The first row shows the number of data in each column. For example, the number of data in the last column (AMT_REQ_CREDIT_BUREAU_YEAR) is 265992, while the number of data in the first column is 307511. It shows that we have some missed data in the dataframe.

### <font face="courier new" color = "#6600cc">mean:</font>
It shows the average value of each column 

### <font face="courier new" color = "#6600cc">std:</font> 
It shows the standard deviation of the value of each column. A near zero std shows a quite constant data in the given column.

### <font face="courier new" color = "#6600cc">min:</font> 
It shows the minimum value of each column

### <font face="courier new" color = "#6600cc">25%, 50%, and 75%:</font>
It shows the 25% value of each column. One-forth of the data from that column have a value less than this. For example,  the 25% value of the first column is 189145.5. It indicates in the first column from all 307511 rows, 76878 rows have a value less than 189145.5, and 230633 rows have a value more than 189145.5. 50% and 75% gives us statistical distribution information from each column similar to the 25%.

### <font face="courier new" color = "#6600cc">max:</font>
It shows the maximum value of each column.

The training set shows our historical data including the information from the applicants, and weather they had repaid the loan or not. In order to use the training set, we have to know the name of the columns and where to find required data. The list of the name of the columns can be found using <font face="courier new" color = "#990000">'.columns'</font>

In [6]:
column_number = 0
for i in df_train.columns:
    print(column_number,i)
    column_number = column_number + 1

0 SK_ID_CURR
1 TARGET
2 NAME_CONTRACT_TYPE
3 CODE_GENDER
4 FLAG_OWN_CAR
5 FLAG_OWN_REALTY
6 CNT_CHILDREN
7 AMT_INCOME_TOTAL
8 AMT_CREDIT
9 AMT_ANNUITY
10 AMT_GOODS_PRICE
11 NAME_TYPE_SUITE
12 NAME_INCOME_TYPE
13 NAME_EDUCATION_TYPE
14 NAME_FAMILY_STATUS
15 NAME_HOUSING_TYPE
16 REGION_POPULATION_RELATIVE
17 DAYS_BIRTH
18 DAYS_EMPLOYED
19 DAYS_REGISTRATION
20 DAYS_ID_PUBLISH
21 OWN_CAR_AGE
22 FLAG_MOBIL
23 FLAG_EMP_PHONE
24 FLAG_WORK_PHONE
25 FLAG_CONT_MOBILE
26 FLAG_PHONE
27 FLAG_EMAIL
28 OCCUPATION_TYPE
29 CNT_FAM_MEMBERS
30 REGION_RATING_CLIENT
31 REGION_RATING_CLIENT_W_CITY
32 WEEKDAY_APPR_PROCESS_START
33 HOUR_APPR_PROCESS_START
34 REG_REGION_NOT_LIVE_REGION
35 REG_REGION_NOT_WORK_REGION
36 LIVE_REGION_NOT_WORK_REGION
37 REG_CITY_NOT_LIVE_CITY
38 REG_CITY_NOT_WORK_CITY
39 LIVE_CITY_NOT_WORK_CITY
40 ORGANIZATION_TYPE
41 EXT_SOURCE_1
42 EXT_SOURCE_2
43 EXT_SOURCE_3
44 APARTMENTS_AVG
45 BASEMENTAREA_AVG
46 YEARS_BEGINEXPLUATATION_AVG
47 YEARS_BUILD_AVG
48 COMMONAREA_AVG
49 ELEVATORS_AVG
50 ENTRANCES_AVG
51 FLOORSMAX_AVG
52 FLOORSMIN_AVG
53 LANDAREA_AVG
54 LIVINGAPARTMENTS_AVG
55 LIVINGAREA_AVG
56 NONLIVINGAPARTMENTS_AVG
57 NONLIVINGAREA_AVG
58 APARTMENTS_MODE
59 BASEMENTAREA_MODE
60 YEARS_BEGINEXPLUATATION_MODE
61 YEARS_BUILD_MODE
62 COMMONAREA_MODE
63 ELEVATORS_MODE
64 ENTRANCES_MODE
65 FLOORSMAX_MODE
66 FLOORSMIN_MODE
67 LANDAREA_MODE
68 LIVINGAPARTMENTS_MODE
69 LIVINGAREA_MODE
70 NONLIVINGAPARTMENTS_MODE
71 NONLIVINGAREA_MODE
72 APARTMENTS_MEDI
73 BASEMENTAREA_MEDI
74 YEARS_BEGINEXPLUATATION_MEDI
75 YEARS_BUILD_MEDI
76 COMMONAREA_MEDI
77 ELEVATORS_MEDI
78 ENTRANCES_MEDI
79 FLOORSMAX_MEDI
80 FLOORSMIN_MEDI
81 LANDAREA_MEDI
82 LIVINGAPARTMENTS_MEDI
83 LIVINGAREA_MEDI
84 NONLIVINGAPARTMENTS_MEDI
85 NONLIVINGAREA_MEDI
86 FONDKAPREMONT_MODE
87 HOUSETYPE_MODE
88 TOTALAREA_MODE
89 WALLSMATERIAL_MODE
90 EMERGENCYSTATE_MODE
91 OBS_30_CNT_SOCIAL_CIRCLE
92 DEF_30_CNT_SOCIAL_CIRCLE
93 OBS_60_CNT_SOCIAL_CIRCLE
94 DEF_60_CNT_SOCIAL_CIRCLE
95 DAYS_LAST_PHONE_CHANGE
96 FLAG_DOCUMENT_2
97 FLAG_DOCUMENT_3
98 FLAG_DOCUMENT_4
99 FLAG_DOCUMENT_5
100 FLAG_DOCUMENT_6
101 FLAG_DOCUMENT_7
102 FLAG_DOCUMENT_8
103 FLAG_DOCUMENT_9
104 FLAG_DOCUMENT_10
105 FLAG_DOCUMENT_11
106 FLAG_DOCUMENT_12
107 FLAG_DOCUMENT_13
108 FLAG_DOCUMENT_14
109 FLAG_DOCUMENT_15
110 FLAG_DOCUMENT_16
111 FLAG_DOCUMENT_17
112 FLAG_DOCUMENT_18
113 FLAG_DOCUMENT_19
114 FLAG_DOCUMENT_20
115 FLAG_DOCUMENT_21
116 AMT_REQ_CREDIT_BUREAU_HOUR
117 AMT_REQ_CREDIT_BUREAU_DAY
118 AMT_REQ_CREDIT_BUREAU_WEEK
119 AMT_REQ_CREDIT_BUREAU_MON
120 AMT_REQ_CREDIT_BUREAU_QRT
121 AMT_REQ_CREDIT_BUREAU_YEAR

The first column is the application ID which is a unique identifier for each applicant. The second column, shows the target. If the target is equal to 1 it shows the applicant did not return the loan. 
Using the <font face="courier new" color = "#990000">'.count()'</font> attribute, we can find the number of applications we have in the training set. In order to efer to a specific column from the dataset, we should write the column name in the quotation marks inside brakets infront of the dataframe's name. Note that python is a case sensitive language. So, to call the column name properly, you need to consider the lower or upper case letters as it appears in the column list. After the column is indicated, we can add the attribute to find the number of unique applicants.

In [7]:
print('There are', df_train['SK_ID_CURR'].count(), 'unique loan applicants in total.' )

There are 307511 unique loan applicants in total.

## <font face="times" color = "#990000"> Imbalance Training Set: </font>

Before we apply any machine learning algorithm to predict the target of the test set, we need to see if the training set is balanced or not. If the training set is imbalance, the prediction quality drops significantly. In most of the cases like in this project, the training set is imbalanced; we have more information about the applicants who have returned their loan, and we have only few examples of the applicants who did not repaid their loan. So, if we work with this imbalance set, the prediction behaves better of the applicants with TARGET = 0, and it will face problems (higher error) on determining the applicants who will not repay their loan.

So, the first task is to find how imbalance our training set is. To find the number of Targets, we can use <font face="courier new" color = "#990000">'.sum()'</font> attribute. Note that we cannot use the <font face="courier new" color = "#990000">'.count()'</font> attribute here, because it will count both zeros and ones in the TARGET column.
The difference between the number of tatal rows in the TARGET column and the number of the TARGETS with the value of one, gives us the number of non-target samples.

In [8]:
number_of_targets = df_train["TARGET"].sum()
number_of_samples = df_train['SK_ID_CURR'].count()
number_of_non_targets = number_of_samples - number_of_targets
balance_ratio = number_of_targets / number_of_samples * 100
print('We have', number_of_samples, 'samples;', number_of_targets,'of them with TARGETS = 1, and ',\
      number_of_non_targets, 'with TARGET= 0. So, only %.1f'%balance_ratio, '% of samples are targets.' )

We have 307511 samples; 24825 of them with TARGETS = 1, and  282686 with TARGET= 0. So, only 8.1 % of samples are targets.

## <font face="times" color = "#990000"> Ehat is Next? </font>
Up to know, we read the data, and examine it. in the next part, we deal with unbalance data and try to find a balance between TARGETs and non-Target Samples.